[submodule "paper-experiments/gpsfsm-2026"]
	path = paper-experiments/gpsfsm-2026
	url = https://github.com/CollaborativeRoboticsLab/gpsfsm-2026
[submodule "paper-experiments/icra-experience-2027"]
	path = paper-experiments/icra-experience-2027
	url = https://github.com/CollaborativeRoboticsLab/icra-experience-2027
